#section-central{
    display: flex;
    justify-content: space-evenly;
}


body{
    background: linear-gradient(#0047AB, #6495ED);
    height: 100%;
    margin: 0%;
}

#input-cep{
    
   
    border: none;
    border-radius: 7px;
    padding: 10px;
    width: 350px;
    outline: none;
    font-size: 19pt;
}



#but-input{
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 2s;
}

#but-input:hover{
    transform: scale(1.6);
}

#but-senha{
    background:transparent;
    border: none;
    color: blue;
    cursor: pointer;
    font-size: 13pt;
}

#but-cpf{
    background:transparent;
    border: none;
    color: blue;
    cursor: pointer;
    font-size: 13pt;
}

#but-criar-qr{
    display:flex;
    justify-content: end;
    margin: 10px;
}

#but-criar-qrCode{
    background-color: #24ff5f;
    color: rgb(0, 0, 0);
    border-radius: 9px;
    border: none;
    padding: 6px;
    font-family: monospace;
    font-weight: bolder;
    cursor: pointer;
}

#but-criar-qrCode:hover{
    background-color: #04eb41;
}

#header-pagCep{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    margin: 0%;
    color: rgb(255, 255, 255);
    font-family: fantasy;
    font-size: 20pt;
}

#tex-pag{
    font-family: monospace;
    font-size: 26pt;
    color: white;
    padding: 30px;
    animation: titulo 2s;
    
}

#div-infoCep{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    color: white;
    
}

@keyframes titulo {
    from{
        transform: rotateX(90deg) ;
    }to{
        transform: rotate(0deg) ;
    }
}


#buscar-cep{
    color: white;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



    
@media screen and (max-width:680px) {

    
    #img-Br{
        width: 100px;
    }

    #input-cep{
        padding: 0;
        width: 230px;
    }

    body{
        padding: 0%;
        margin: 0%;
        width: auto;
    }

    #div-infoCep{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-items: left;
        justify-content: left;
        padding: 10px;
        align-items: left;
        font-size: 19pt;
    }

    #nome-pag{
        font-size: 18pt;
        display: block;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 25pt;
    }


}


#article-qr-centra{
    height: 50%;
    background-color:white;
}

body{
    background-color: #000000;
}

#header-qr{
    font-size: 29pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:white;
    color: black;
}

#section-qr-central{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 80px;
}

#but-qr-code{
    margin-top: 7px;
    border: none;
    background-color: #04eb41;
    color: rgb(0, 0, 0);
    border-radius: 9px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

#but-qr-code:hover{
    background: #8EE53F	;
}

#input-qr{
    width: 320px;
    border: 1px solid rgb(15, 41, 242);
    padding: 9px;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
}


#lgpd{
    color: white;
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: red;
    font-weight: bolder;
    border: 3px solid black;
    cursor: pointer;
}

#aside-qr-code{

  color: rgb(0, 0, 0);
  padding: 15px;
  margin: 9px;
  font-size: 19pt;
  background-color: aliceblue;
}


#footer-pag{
    text-align: center;
}


@media screen and (max-width:680px) {
    
    #input-qr{
        width: 250px;
        padding: 10px;
        
    }

    #header-qr{
        font-size: 21pt;
        background-color: white;
        color: black;
    }

    #article-qr-centra{
        width: 100%;
        margin: 0%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        justify-items: center;
        align-items: center;

    }
    
    
}

#map{
    height: 220px;
    width: 100%;
    
}

#longlati{
    background-color: white;
    width: 300px;
    margin: 10px;
    padding: 5px;
    
}

#section-videos-parte-um{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

#article-videos{
    background-color: black;
}

#section-videos-parte-dois{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


#article-amazonia{
    background-color: black;
}

#header-amazonia{
    font-size: 26pt;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
}
   
#header-amazonia{
    font-size: 32pt;
    background: linear-gradient(green, rgb(57, 222, 57));
}

#div-amazonia-um{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
}

#article-amazonia{
    background: linear-gradient( rgb(57, 222, 57), white);
}

#paragrafo-amazonia-um{
    width: 700px;
    text-align: justify;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
}




@media screen and (max-width:680){
    #div-amazonia-um{
        width: 320px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #div-amazonia-um{
        width: 400px;
        text-align: justify;
    }
}

#paragrafo-amazonia-dois{
    background-color: white;
    border-radius: 8px;
}

#div-amazonia-dois{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
}